body {
  background-color: #C0C0C0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

form {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 296px;
}

canvas {
  transform: scale(2);
  transform-origin: top center;
}
